@import '../../styles/_mixins.scss';
@import '../../styles/_variables.scss';
@import '../../styles/_utils.scss';
.cursorStyle {
    @extend %grid-content;
    pointer-events: none;
    position: fixed;
    left: 0;
    top: 0;
    background: $col-black;
    width: 0.75rem;
    height: 0.75rem;
    border-radius: 100%;
    z-index: 5;
    @media (hover: none) and (pointer: coarse), (max-width: 500px) {
        display: none;
    }
}