    @import '../../styles/_mixins.scss';
    @import '../../styles/_variables.scss';
    @import '../../styles/_utils.scss';
    .categories {
        min-height: 900px;
        header {
            @extend %flex-ac-jb;
            gap: 2rem;
            padding-top: 2.5rem;
            margin-bottom: 3rem;
            h2 {
                font-weight: 700;
                font-size: 2rem;
                span {
                    opacity: 0;
                    transform: translateY(10px);
                }
            }
            h3 {
                font-size: 1.3rem;
                span {
                    opacity: 0;
                    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.4);
                    color: transparent;
                    transform: translateX(25px);
                }
            }
        }
        &__main {
            @include flex(space-between, center);
            padding: 0 5vw;
            &__left {
                div {
                    position: relative;
                    width: 29rem;
                    &::before {
                        content: '';
                        position: absolute;
                        right: -2rem;
                        bottom: -2rem;
                        background: rgba(153, 74, 255, 0.2);
                        width: 22rem;
                        height: 43rem;
                        z-index: 2;
                    }
                    img {
                        width: 100%;
                        position: relative;
                        z-index: 3;
                    }
                }
                p {
                    font-size: 6rem;
                    opacity: 0.3;
                    -webkit-text-stroke: 2px rgba(255, 255, 255, 0.4);
                    color: transparent;
                    z-index: 1;
                    position: relative;
                    left: 4vw;
                    bottom: 3rem;
                }
            }
            &__right {
                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    gap: 3rem;
                    li {
                        font-weight: 700;
                        &:nth-child(1) {
                            font-size: 4rem;
                        }
                        &:nth-child(2) {
                            font-size: 3rem;
                            color: #D9D9D9;
                        }
                        &:nth-child(3) {
                            font-size: 2.5rem;
                            color: rgba(217, 217, 217, 0.7);
                        }
                        &:nth-child(4) {
                            font-size: 2.5rem;
                            color: rgba(217, 217, 217, 0.6);
                        }
                        &:nth-child(5) {
                            font-size: 2rem;
                            color: rgba(217, 217, 217, 0.5);
                        }
                        &:nth-child(6) {
                            font-size: 1.875rem;
                            color: rgba(217, 217, 217, 0.4);
                        }
                        &:nth-child(7) {
                            font-size: 2rem;
                            color: rgba(217, 217, 217, 0.3);
                        }
                    }
                }
            }
        }
    }